@using System.ComponentModel.DataAnnotations
@using BalzorHandleImages.Enum
@inject HttpClient Http
@inject IJSRuntime JS
@inject ISnackbar Snackbar
@inject MediatR.IMediator Mediator


<h1>Stream Image Data Example</h1>
<h3>ShowImages</h3>
<MudImage Src=@URI_from_blob Alt="Mony the dog" Elevation="25" Class="rounded-lg"/>

<p>
    <img scr=@URI_from_blob />
</p>

@code {
    string dirBlob { get; set; }
    string fullURL { get; } = "https://sablobfornetapp.blob.core.windows.net/uploaded-images/";
    string img_name_blob_stg {get;set;} = "image_7211e11d-3832-4b46-a0a5-bb4cfd41782d.jpg";
    private FormStatus _formStatus = FormStatus.None;
    public string URI_from_blob { get; set; }

    protected override async Task OnInitializedAsync()
    {
        URI_from_blob = fullURL + img_name_blob_stg;
        Console.WriteLine(URI_from_blob);
        //await GetImageStreamAsync();
    }
    private async Task GetImageStreamAsync()
    {
        //var command = new Commands.DownloadImage(img_name_blob_stg);
        //var retorna = await this.Mediator.Publish(command);
        
        
        //return await Http.GetStreamAsync(img_name_blob_stg);
    }

    

}


